body {
  font-family: "Arial", sans-serif;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

/* Header */
header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Fondo glassmporphism */
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3); /* borde sutil */
  border-radius: 15px;
  width: 100%;
}

nav {
  display: flex;
  justify-content: center;
  padding: 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  justify-content: center;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  color: black;
  padding: 20px;
  font-weight: 500;
  font-size: 1rem;
  transition: font-size 0.2s ease;
}
nav ul li a:hover {
  scale: 1.05;
  font-size: 1.1rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.logo {
  height: 80px;
  width: auto;
  transition: transform 0.2s ease;
}
.logo:hover {
  transform: scale(1.05);
}
.idiom-select {
  height: 40px;
  border: 2px solid #ccc;
  border-radius: 10%;
}

/* Highlighted packs section */

.highlighted {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.highlighted i {
  display: flex; /* convierte el i en flex */
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.highlighted i:hover {
  transform: scale(1.1);
}

.highlighted-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 2px solid #ccc;
  margin-bottom: 20px;
}

.highlighted-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 2px solid #ccc;
  background: linear-gradient(135deg, #d0c5db, #a7bce2);
  border-radius: 10px;
  margin-bottom: 20px;
}

#pack-asia-label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buy-button {
  margin-top: 40px;
  margin-left: auto;
  background-color: rgb(34, 167, 255);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.buy-button:hover {
  background-color: rgb(40, 200, 255);
}
.buy-button a {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
}

/* Experiences section */

.carrousel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.experience-card {
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, rgb(186, 186, 245), rgb(211, 206, 206));
  border: 1px solid #ccc;
  border-radius: 10px;
}
