body {
  font-family: "Lato", sans-serif;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

/* Header */
header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Fondo glassmporphism */
  background: linear-gradient(
    135deg,
    rgba(34, 139, 34, 0.25),
    rgba(107, 72, 34, 0.25) /* marrón terroso */
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3); /* borde sutil */
  border-radius: 15px;
  width: 100%;
}
header h2 {
  margin-left: 20px;
}

nav {
  display: flex;
  justify-content: center;
  padding: 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  justify-content: center;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  color: black;
  padding: 20px;
  font-weight: 550;
  font-size: 1.2rem;
  transition: font-size 0.2s ease;
}
nav ul li a:hover {
  scale: 1.05;
  font-size: 1.3rem;
  text-decoration: underline;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.logo {
  height: 80px;
  width: auto;
  transition: transform 0.2s ease;
}
.logo:hover {
  transform: scale(1.05);
}
.idiom-select {
  height: 40px;
  /* border: 2px solid #c4c2c2; */
  border-radius: 10%;
  background: #a7bce2;
}

/* Highlighted packs section */

.highlighted-content {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 2px solid #ccc;
  margin-bottom: 20px;
  background-image: url("/img/banner-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.highlighted-content h2 {
  font-size: 2.5rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), -1px 1px 2px rgba(0, 0, 0, 0.5),
    1px -1px 2px rgba(0, 0, 0, 0.5), -1px -1px 2px rgba(0, 0, 0, 0.5);
}

.highlighted {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.highlighted i {
  color: black;
  display: flex; /* convierte el i en flex */
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #ffffff;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.highlighted i:hover {
  transform: scale(1.1);
}

.highlighted-card {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5); /* negro semi-transparente */
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px); /* efecto cristal suavizado */
  padding: 20px;
  border: 3px solid #ffffff;
  margin-bottom: 20px;
}

#pack-asia-label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  align-items: center;
}
#pack-asia-label h3 {
  padding-right: 4rem;
  font-size: 1.8rem;
}
#pack-asia-label p {
  display: inline-block; /* Para que el tamaño se ajuste al contenido */
  background: linear-gradient(
    135deg,
    #a3e4d7,
    #76d7c4
  ); /* verde suave degradado */
  color: #fff; /* texto blanco para contraste */
  padding: 10px 20px; /* más espacio alrededor del texto */
  font-size: 1.8rem; /* un poco más grande */
  font-weight: bold; /* resalta el precio */
  border-radius: 25px; /* bordes más redondeados tipo etiqueta */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* sombra para efecto flotante */
  position: relative; /* para añadir “punta” de etiqueta si quieres */
  text-align: center;
  transition: transform 0.2s; /* efecto hover */
}

#pack-asia-label p:hover {
  transform: scale(1.1); /* crece un poco al pasar el mouse */
}

.buy-button {
  margin-top: 40px;
  margin-left: auto;
  background-color: rgb(34, 167, 255);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.buy-button:hover {
  background-color: rgb(40, 200, 255);
}
.buy-button a {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
}

/* Experiences section */

.carrousel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.experience-card {
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, rgb(186, 186, 245), rgb(211, 206, 206));
  border: 1px solid #ccc;
  border-radius: 10px;
}
