@import url("./styles.css");
html {
  width: 100%;
}

body {
  width: 100%;
  min-width: 0;
  font-family: "Lato", sans-serif;
  margin: 0;
  background-image: url("/img/background.png");
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;
  background-color: rgba(0, 0, 0, 0.3);
}

.caja-registro {
  width: min(920px, 100%);
  background: rgba(255, 255, 255, 0.853);
  border: 2px solid #000;
  padding: 1.5rem;
  border-radius: 10px;
}

h1 {
  text-align: center;
  margin-top: 0px;
}

.grid-2x2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.bloque-fecha {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 1rem 0;
}

.fecha-input {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.bloque-login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.bloque-imagen {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 1rem 0;
}

.bloque-imagen button {
  width: 10rem;
}

.boton-guardar {
  display: flex;
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  justify-self: flex-end;
  margin-top: 1rem;
  color: black;
  text-decoration: none;
  transition: transform 0.2s ease;
}
.boton-guardar:hover {
  transform: scale(1.05);
}

input,
button {
  padding: 0.8rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  transition: all 0.3s ease;
}

input:focus,
button:hover {
  border-color: #0a7c5a;
  box-shadow: 0 0 6px rgba(10, 124, 90, 0.4);
  outline: none;
}
